@(video: com.github.vaclavsvejcar.yhd.VideoRef)

<li class="video">
  <div class="left">
    <a href="https://youtube.com/watch?v=@video.id" target="_blank">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
      class="lazy" data-src="https://i.ytimg.com/vi/@video.id/mqdefault.jpg" />
    </a>
    <div class="duration"><span>@video.duration</span></div>
  </div>
  <a href="https://youtube.com/watch?v=@video.id" target="_blank" class="video-link">
    <h1>@video.title</h1>
  </a>
  <a href="https://youtube.com@video.userLink" target="_blank" class="user-link">@video.user</a>
  <p>@video.description</p>
</li>